
@import "compass";
@import "breakpoint";

// Import default variables and icon font.
@import "variables/default.scss";

// Import boostrap and font-awesome.
@import "bootstrap";
@import "font-awesome";

// Import variables
@import "base/default.scss";

// Import custom mixins.
@import "abstractions/mixins.scss";

// Import base styling.
@import "base/navigation.scss";
@import "base/form.scss";

// Import components.

$green: #0d4451;
$red: #eb4235;

::selection {
  color: #fff;
  background: $green;
}

// Layout.
.container {
  @include pie-clearfix;
  @include clearfix;

  margin: 0 auto;
  width: 320px;
  padding: 0;
  // padding: 0 5px;

  @include breakpoint($tab) {
    width: 720px;
    // padding: 0 20px;

    @include breakpoint($desk) {
      width: 1000px;
    }
  }

  &.no-padding {
    padding: 0;
  }
}

.view-col-3 {
  @include clearfix();

  .view-content > * {
    display: inline-block;
    width: 100%;
    float: left;

    @include breakpoint($tab) {
      width: 50%;

      @include breakpoint($desk) {
        width: 33.33333333%;
      }
    }
  }
}

.view-col-4 {
  @include clearfix();

  .view-content > * {
    display: inline-block;
    width: 50%;
    float: left;
    @include breakpoint($tab) {
      width: 33.3%;
      @include breakpoint($desk) {
        width: 25%;
      }
    }
  }
}

.l-header {
  @include pie-clearfix;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid $red;
  .front & {
    position: absolute;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(235, 68, 56, 0.4);
  }

  .admin-menu & {
    top: 29px;
  }

  .front &:before {
    // content: "";
    // display: block;
    // height: 300px;
    // width: 120%;
    // background-color: transparent;
    // z-index: -1;
    // position: absolute;
    // top: -300px;
    // box-shadow: 0px 0px 230px 55px rgba(0, 0, 0, 0.48);
    // left: -20%;
  }

  // .header-right {
  //   float: left;
  // }

  .l-branding {
    display: inline-block;
    float: left;

    .site-logo img {
      max-width: 180px;
      height: auto;
    }

    .site-slogan {
      display: none;
    }
  }

  .branding-menu {
    font-weight: 300;
    font-size: 14px;

    a {
      padding: 5px;

      @include breakpoint($desk) {
        padding: 5px 10px;
      }
    }
  }

  #mobile-menu {
    font-size: 0px;
    padding: 2.5px 0;
    float: right;
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 47px;
    right: 20px;

    @include breakpoint($desk) {
      display: none;
    }

    .line {
      display: block;
      width: 100%;
      height: 1px;
      margin-bottom: 8px;
      background: #000000;
    }
  }
}


// Main Menu
#block-system-main-menu {
  font-weight: 500;
  padding: 15px 0 0 70px;
  font-size: 15px;
  display: none;
  float: left;

  .main-navigation & {
    display: none;
  }

  @include breakpoint($desk) {
    display: block;

    .main-navigation & {
      display: inline-block;
    }
  }

  li {
    padding-left: 15px;
    padding-right: 15px;

    a {
      color: $green;
      font-weight: 400;
      padding: 0;
      font-size: 16px;
      text-shadow: 0 0 100px rgba(0, 0, 0, 0.7);

      .front & {
        color: #fff;
      }

      &:hover {
        color: $red;
      }
    }

    &:first-child {
      a {
        padding-left: 0;
      }
    }
  }
}

.user-menu {
  display: none;

  @include breakpoint($desk) {
    display: inline-block;
    float: right;
    margin-top: 10px;

    ul.menu {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        list-style-image: none;
        width: 100%;
        float: left;
        display: inline-block;
        width: auto;
        margin-right: 10px;
        a {
          font-size: 13px;
          color: $green;
          font-weight: bold;
          border-radius: 25px;
          padding: 8px 20px 9px;
          display: block;
          border: 1px solid $green;
          box-shadow: 0 0 0 1px $green, 0 0 0 1px $green;

          &:hover {
            text-decoration: none;
            color: $red;
            border: 1px solid $red;
            box-shadow: 0 0 0 1px $red, 0 0 0 1px $red;
          }

          .front & {
            color: #fff;
            border: 1px solid #fff;
            box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;

            &:hover {
              text-decoration: none;
              color: $red;
              border: 1px solid $red;
              box-shadow: 0 0 0 1px $red, 0 0 0 1px $red;
            }
          }
        }
      }
    }
  }
}

.hero-banner {
  // breakpoint
  .slide-wrapper {
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;

    h2 {
      color: #fff;
      font-family: 'Fira Sans Condensed', sans-serif;
      font-weight: 400;
      font-style: italic;
      text-transform: uppercase;
      margin-top: 40px;
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 20px;
      text-align: center;

      @include breakpoint($tab) {
        margin-top: 220px;
      }
    }

    h2,
    h3 {
      text-shadow: 0 0 100px rgba(0, 0, 0, 0.7);
      // padding: 20px 15px;
      // display: table;
      // background: rgba(27, 31, 37, 0.5);
    }

    h3 {
      text-align: center;
      font-size: 26px;
      margin-bottom: 30px;
    }

    a {
      border: 1px solid $red;
      color: #fff;
      background: $red;
      margin: 10px auto 0;
      border-radius: 25px;
      display: table;
      font-size: 15px;
      min-width: 300px;
      text-align: center;
      padding: 12px 30px 13px;
      font-weight: bold;

      &:hover,
      &.solutions {
        background: transparent;
        color: $red;
        text-decoration: none;
      }

      &.solutions:hover {
        background: $red;
        color: #fff;
      }
    }

    .video-button {
      width: 63px;
      height: 63px;
      border-radius: 50%;
      background: $red;
      display: block;
      font-size: 0;
      color: transparent;
      position: relative;
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.35);

      &:hover {
        background: $green;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 17px;
        left: 21px;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 26px solid #fff;
      }
    }
  }
}

table {
  width: 100%;
  border: 0;
  margin: 40px 0 0;

  tr.even, tr.odd {
    background: transparent;
  }

  th, td {
    height: 40px;
    border: 0;
    padding: 15px 0 15px 20px;
  }

  th {
    font-size: 16px;
    border: 0;
    color: $red;
    font-weight: 700;
    background: transparent;
    border-bottom: 1px solid $red;
  }

  td {
    font-size: 14px;

    a {
      font-size: 16px;
      color: #333333;

      &:hover {
        color: $red;
      }
    }
  }


  tbody {
    tr:nth-child(2n+1) {
      background: #f0f0f0;
    }
  }
}